## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [4]:
# 設定 data_path
dir_data = './'

In [5]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [12]:
app_train.info()
app_train.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

(307511, 122)

#### 列出所有欄位

In [21]:
app_train.columns.values

array(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE',
       'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE',
       'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START',
       'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1',
       'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG',
       'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG',
       'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG',
       'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
       'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE',
       'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE',
       'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
       'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE',
       'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
       'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI',
       'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI',
       'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI',
       'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
       'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI',
       'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI',
       'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE',
       'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype=object)

#### 截取部分資料

In [22]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [43]:
# education type and count
# app_train.groupby('NAME_EDUCATION_TYPE').NAME_EDUCATION_TYPE.count()
app_train.NAME_EDUCATION_TYPE.unique()

array(['Secondary / secondary special', 'Higher education',
       'Incomplete higher', 'Lower secondary', 'Academic degree'],
      dtype=object)

In [40]:
app_train.NAME_INCOME_TYPE.unique()

array(['Working', 'State servant', 'Commercial associate', 'Pensioner',
       'Unemployed', 'Student', 'Businessman', 'Maternity leave'],
      dtype=object)

In [57]:

# app_train.loc[:,['NAME_EDUCATION_TYPE', 'NAME_INCOME_TYPE', 'CNT_CHILDREN']]
app_train.groupby(['NAME_EDUCATION_TYPE', 'NAME_INCOME_TYPE']).apply(lambda df: df.loc[df.CNT_CHILDREN.idxmax()])

                                                    SK_ID_CURR  TARGET  \
NAME_EDUCATION_TYPE           NAME_INCOME_TYPE
Academic degree               Commercial associate      121638       0
                              Pensioner                 375383       0
                              State servant             152537       0
                              Working                   104024       0
Higher education              Businessman               201088       0
                              Commercial associate      253779       0
                              Maternity leave           227123       0
                              Pensioner                 383830       0
                              State servant             114709       0
                              Student                   405252       0
                              Unemployed                189489       0
                              Working                   407877       0
Incomplete higher             Commercial associate      123636       0
                              Pensioner                 168278       0
                              State servant             109622       0
                              Student                   434942       0
                              Unemployed                148306       0
                              Working                   124590       0
Lower secondary               Commercial associate      130372       0
                              Pensioner                 157142       0
                              State servant             120098       0
                              Working                   137918       0
Secondary / secondary special Commercial associate      193853       0
                              Maternity leave           352877       1
                              Pensioner                 313127       0
                              State servant             129850       0
                              Student                   157780       0
                              Unemployed                104600       0
                              Working                   280108       0

                                                   NAME_CONTRACT_TYPE  \
NAME_EDUCATION_TYPE           NAME_INCOME_TYPE
Academic degree               Commercial associate         Cash loans
                              Pensioner                    Cash loans
                              State servant                Cash loans
                              Working                      Cash loans
Higher education              Businessman             Revolving loans
                              Commercial associate         Cash loans
                              Maternity leave         Revolving loans
                              Pensioner                    Cash loans
                              State servant                Cash loans
                              Student                      Cash loans
                              Unemployed                   Cash loans
                              Working                      Cash loans
Incomplete higher             Commercial associate         Cash loans
                              Pensioner                    Cash loans
                              State servant                Cash loans
                              Student                      Cash loans
                              Unemployed              Revolving loans
                              Working                      Cash loans
Lower secondary               Commercial associate         Cash loans
                              Pensioner                    Cash loans
                              State servant                Cash loans
                              Working                 Revolving loans
Secondary / secondary special Commercial associate         Cash loans
                              Maternity leave              Cash loans
                              Pensioner                    Cash loans
                              State servant                Cash loans
                              Student                      Cash loans
                              Unemployed              Revolving loans
                              Working                      Cash loans

                                                   CODE_GENDER FLAG_OWN_CAR  \
NAME_EDUCATION_TYPE           NAME_INCOME_TYPE
Academic degree               Commercial associate           M            N
                              Pensioner                      F            Y
                              State servant                  F            N
                              Working                        F            N
Higher education              Businessman                    M            Y
                              Commercial associate           F            N
                              Maternity leave                F            N
                              Pensioner                      F            N
                              State servant                  M            Y
                              Student                        M            N
                              Unemployed                     F            N
                              Working                        F            N
Incomplete higher             Commercial associate           F            N
                              Pensioner                      F            N
                              State servant                  M            Y
                              Student                        M            Y
                              Unemployed                     F            N
                              Working                        F            Y
Lower secondary               Commercial associate           M            N
                              Pensioner                      F            N
                              State servant                  M            Y
                              Working                        M            Y
Secondary / secondary special Commercial associate           F            N
                              Maternity leave                F            N
                              Pensioner                      F            Y
                              State servant                  M            Y
                              Student                        M            Y
                              Unemployed                     F            N
                              Working                        F            N

                                                   FLAG_OWN_REALTY  \
NAME_EDUCATION_TYPE           NAME_INCOME_TYPE
Academic degree               Commercial associate               Y
                              Pensioner                          N
                              State servant                      Y
                              Working                            Y
Higher education              Businessman                        Y
                              Commercial associate               Y
                              Maternity leave                    Y
                              Pensioner                          Y
                              State servant                      N
                              Student                            N
                              Unemployed                         N
                              Working                            Y
Incomplete higher             Commercial associate               N
                              Pensioner                          Y
                              State servant                      N
                              Student                            Y
                              Unemployed                         Y
                              Working                            Y
Lower secondary               Commercial associate               N
                              Pensioner                          N
                              State servant                      Y
                              Working                            Y
Secondary / secondary special Commercial associate               Y
                              Maternity leave                    Y
                              Pensioner                          N
                              State servant                      N
                              Student                            Y
                              Unemployed                         Y
                              Working                            Y

                                                    CNT_CHILDREN  \
NAME_EDUCATION_TYPE           NAME_INCOME_TYPE
Academic degree               Commercial associate             2
                              Pensioner                        1
                              State servant                    2
                              Working                          5
Higher education              Businessman                      1
                              Commercial associate            10
                              Maternity leave                  2
                              Pensioner                        6
                              State servant                    8
                              Student                          2
                              Unemployed                       1
                              Working                         19
Incomplete higher             Commercial associate             3
                              Pensioner                        3
                              State servant                    5
                              Student                          0
                              Unemployed                       0
                              Working                          5
Lower secondary               Commercial associate             3
                              Pensioner                        2
                              State servant                    3
                              Working                          6
Secondary / secondary special Commercial associate            12
                              Maternity leave                  2
                              Pensioner                       14
                              State servant                    6
                              Student                          2
                              Unemployed                       2
                              Working                         19

                                                    AMT_INCOME_TOTAL  \
NAME_EDUCATION_TYPE           NAME_INCOME_TYPE
Academic degree               Commercial associate          270000.0
                              Pensioner                     180000.0
                              State servant                 315000.0
                              Working                       135000.0
Higher education              Businessman                   180000.0
                              Commercial associate           67500.0
                              Maternity leave               135000.0
                              Pensioner                      45000.0
                              State servant                 112500.0
                              Student                       112500.0
                              Unemployed                     54000.0
                              Working                       112500.0
Incomplete higher             Commercial associate           90000.0
                              Pensioner                     203400.0
                              State servant                 270000.0
                              Student                       157500.0
                              Unemployed                    270000.0
                              Working                       315000.0
Lower secondary               Commercial associate           72000.0
                              Pensioner                      90000.0
                              State servant                  85500.0
                              Working                       112500.0
Secondary / secondary special Commercial associate          337500.0
                              Maternity leave                67500.0
                              Pensioner                      45000.0
                              State servant                 157500.0
                              Student                       144000.0
                              Unemployed                    135000.0
                              Working                       112500.0

                                                    AMT_CREDIT  AMT_ANNUITY  \
NAME_EDUCATION_TYPE           NAME_INCOME_TYPE
Academic degree               Commercial associate   1206144.0      39037.5
                              Pensioner               180000.0       9274.5
                              State servant          1236816.0      36292.5
                              Working                 579195.0      24669.0
Higher education              Businessman             675000.0      33750.0
                              Commercial associate     92655.0       5301.0
                              Maternity leave         810000.0      40500.0
                              Pensioner               113760.0       6349.5
                              State servant           755190.0      29947.5
                              Student                 648000.0      19777.5
                              Unemployed              634500.0      23643.0
                              Working                 135000.0       8788.5
Incomplete higher             Commercial associate    254700.0      25321.5
                              Pensioner               143910.0      15399.0
                              State servant           840951.0      35761.5
                              Student                 526491.0      28692.0
                              Unemployed              135000.0       6750.0
                              Working                 239850.0      25447.5
Lower secondary               Commercial associate    292500.0       8995.5
                              Pensioner               518562.0      25078.5
                              State servant           184500.0      12460.5
                              Working                 270000.0      13500.0
Secondary / secondary special Commercial associate    746280.0      59094.0
                              Maternity leave        1435500.0      40896.0
                              Pensioner               810000.0      23814.0
                              State servant           900000.0      26316.0
                              Student                1381113.0      39712.5
                              Unemployed              270000.0      13500.0
                              Working                 269550.0      13891.5

                                                    ...  FLAG_DOCUMENT_18  \
NAME_EDUCATION_TYPE           NAME_INCOME_TYPE      ...
Academic degree               Commercial associate  ...                 0
                              Pensioner             ...                 0
                              State servant         ...                 0
                              Working               ...                 0
Higher education              Businessman           ...                 0
                              Commercial associate  ...                 0
                              Maternity leave       ...                 0
                              Pensioner             ...                 0
                              State servant         ...                 0
                              Student               ...                 0
                              Unemployed            ...                 0
                              Working               ...                 0
Incomplete higher             Commercial associate  ...                 0
                              Pensioner             ...                 0
                              State servant         ...                 0
                              Student               ...                 0
                              Unemployed            ...                 0
                              Working               ...                 0
Lower secondary               Commercial associate  ...                 1
                              Pensioner             ...                 0
                              State servant         ...                 0
                              Working               ...                 0
Secondary / secondary special Commercial associate  ...                 0
                              Maternity leave       ...                 0
                              Pensioner             ...                 0
                              State servant         ...                 0
                              Student               ...                 0
                              Unemployed            ...                 0
                              Working               ...                 0

                                                   FLAG_DOCUMENT_19  \
NAME_EDUCATION_TYPE           NAME_INCOME_TYPE
Academic degree               Commercial associate                0
                              Pensioner                           0
                              State servant                       0
                              Working                             0
Higher education              Businessman                         0
                              Commercial associate                0
                              Maternity leave                     0
                              Pensioner                           0
                              State servant                       0
                              Student                             0
                              Unemployed                          0
                              Working                             0
Incomplete higher             Commercial associate                0
                              Pensioner                           0
                              State servant                       0
                              Student                             0
                              Unemployed                          0
                              Working                             0
Lower secondary               Commercial associate                0
                              Pensioner                           0
                              State servant                       0
                              Working                             0
Secondary / secondary special Commercial associate                0
                              Maternity leave                     0
                              Pensioner                           0
                              State servant                       0
                              Student                             0
                              Unemployed                          0
                              Working                             0

                                                   FLAG_DOCUMENT_20  \
NAME_EDUCATION_TYPE           NAME_INCOME_TYPE
Academic degree               Commercial associate                0
                              Pensioner                           0
                              State servant                       0
                              Working                             0